
/* $add_circle_color = rgb(222, 222, 220); */

.add-circle::before {

	/* Ref: http://aroc.github.io/side-comments-demo/ */

	content: "+";

	/* circle border */
	border: 20px solid #DEDEDC;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgb(222, 222, 220);
	border-right-color: rgb(222, 222, 220);
	border-bottom-color: rgb(222, 222, 220);
	border-left-color: rgb(222, 222, 220);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image-source: none;
	border-image-slice: 100%;
	border-image-width: 1;
	border-image-outset: 0;
	border-image-repeat: stretch stretch;

	border-radius: 50%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;

	width: 23px;
	height: 23px;
	color: #DEDEDC; /* color of "content" */
	display: block;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	float: left;
	margin-right: 15px;
	letter-spacing: 0;
	box-sizing: border-box;
}

.add-circle:hover::before {
	border: 20px solid rgba(15, 68, 30, 1);
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(15, 68, 30, 1);
	border-right-color: rgba(15, 68, 30, 1);
	border-bottom-color: rgba(15, 68, 30, 1);
	border-left-color: rgba(15, 68, 30, 1);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image-source: none;
	border-image-slice: 100%;
	border-image-width: 1;
	border-image-outset: 0;
	border-image-repeat: stretch stretch;

	border-radius: 50%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;

	color: rgba(15, 68, 30, 1); /* color of "content" */
}

.add-circle:hover {
	color: rgba(15, 68, 30, 1);
}

/* --------------------------- */

/* Crop rectangular image to a circle

    Ref: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image
*/

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
   // margin-left: -25%;
}

.centered {
	display: block;
	margin: 0 auto;
}

.logo-footer {
	height: auto;
	width: 96px;
}

.logo-sb {
	height: 100px;
	width: auto;
}

@media (max-width: 991px) {
  .logo-sb {
    height: 50px;
  }
}

.resource-link-image {
	max-height: 150px;
}

.category li {
  vertical-align: middle;
}

.category li > ul {
  padding-left: 15px;
}

.category li > ul > li > a {
  font-weight: 300;
}

.category li a {
  color: #999;
  position: relative;
  display: inline-block;
	width: 90%;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}

.category li a:hover {
  color: #444;
  background-color: #f5f5f5;
}

.category > li.active > a {
	font-weight: 600;
	color: #444;
}

.category-expanded a:before {
	content: "\f0dd";
	font-family: 'FontAwesome';
	margin-right: 5px;
}
.category-collapsed a:before {
	content: "\f0da";
	font-family: 'FontAwesome';
	margin-right: 5px;
}

.category-checked a:before {
	content: "\f046";
	font-family: 'FontAwesome';
	margin-right: 5px;
}
.category-not-checked a:before {
	content: "\f096";
	font-family: 'FontAwesome';
	margin-right: 5px;
}
.category-leaf a:before {
	content: "";
	font-family: 'FontAwesome';
	margin-right: 0px;
}
.anchor {
	padding-top: 90px;
	margin-top: -90px;
}

.dropdown-menu-right {
	text-align: right;
	min-width: 10em;
}

.btn-group-xs > .btn, .btn-xs {
  padding  : .1rem .4rem;
  font-size  : .75rem;
  line-height  : .5;
  border-radius : .2rem;
}

.search-suggestions {
  background: white;
  position: absolute;
  top: 6em;
  left: 0;
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  border-bottom: solid;
}
.search-suggestions .nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

#padding-behind-navbar {
  background:red;
  height: 0px;
}

@media (min-width: 992px) {
  .navbar-right-elements {
    top: calc(50% - 0.75em);
  }
  .search-suggestions {
    top: 118px;
  }
  #padding-behind-navbar {
    height:118px;
  }
}


#gramoogleFrame {
  position: absolute;
  top: 117px;
  height:1000px;
  width:1000px;
}