<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- plugins CSS (all plugins css file compile into one file by gulp) -->
    <link rel="stylesheet" href="static/assan/css/plugins/plugins.css" >
    <!-- Assan cuatom CSS fle -->
    <link rel="stylesheet" href="static/assan/css/style.css" >
  </head>
  <body>
    <h1>Hello, world!</h1>

    <!-- Plugins first, then assan custom. -->
    <script src="static/assan/js/plugins/plugins.js"></script>
    <script src="static/assan/js/assan.custom.js"></script>
   
  </body>
</html>
