{% extends "base.html" %}
{% block page_title %}Sorghum Portal{% endblock %}
{% block additional_header %}{% endblock %}
{% block content %}

<div class="page-titles-img title-space-md parallax-overlay bg-parallax" data-jarallax='{"speed": 0.4}' style='background-image: url("{{ banner_media.s.source_url}}");background-position:top center;'>
  <div class="container">
    <div class="row">
      <div class=" col-md-12">
        <h1 class="text-uppercase">Contact us</h1>

      </div>
    </div>
  </div>
</div><!--page title end-->

<div class="container pt90 pb50">
  <div class="row">
    <div class="col-md-12 mb20">
      <h3>We would love to hear from you.</h3>
      <p>
        Please let us know if you have any questions, comments or concerns about Sorghumbase or would like to contribute.
      </p>
    </div>
    <div class="col-md-4 mb40">
      <h4 class="text-uppercase">Address</h4>
      <p>
        Cold Spring Harbor Laboratory, <br>
        Williams Building, <br>
        1 Bungtown Road, <br>
        Cold Spring Harbor, NY, 11724
      </p>
      <br>
      <h4 class="text-uppercase">Email</h4>
      <p>
        contact [at] sorghumbase [dot] org
      </p>
      <br>
      <h4 class="text-uppercase">Office Hours</h4>
      <p>
        Wednesday: 4pm  to 5pm EST
        <br>
        Thursday: 3pm to 4pm EST
      </p>
<!--          <br>-->
<!--           <h4 class="text-uppercase">Social</h4>-->
<!--          <div class="clearfix pt10">-->
<!--            <a href="https://www.facebook.com/sorghumbase/" target="_blank" class="social-icon si-border si-facebook">-->
<!--              <i class="fa fa-facebook"></i>-->
<!--              <i class="fa fa-facebook"></i>-->
<!--            </a>-->
<!--            <a href="https://twitter.com/sorghumbase" target="_blank" class="social-icon si-border si-twitter">-->
<!--              <i class="fa fa-twitter"></i>-->
<!--              <i class="fa fa-twitter"></i>-->
<!--            </a>-->
<!--          </div>-->
        </div>
        <div class="col-md-8 mb40">
          <div id="sorghumbase-feedback">feedback form goes here</div>
        </div>
      </div>
    </div>
    <!--back to top-->
    <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>

{% endblock %}
