{% extends "base.html" %}
{% block page_title %}Sorghum Portal{% endblock %}
{% block additional_header %}{% endblock %}
{% block content %}

<div class="page-titles-img title-space-lg parallax-overlay bg-parallax" data-jarallax='{"speed": 0.4}'
     style='background-image: url("{{banner_media.s.source_url}}");background-position:top center;'>
    <div class="container">
        <div class="row">
            <div class=" col-md-12">
                <h1 class="text-uppercase">Events</h1>

            </div>
        </div>
    </div>
</div><!--page title end-->
<div class="container pt60 pb50">
    <div class="row">
        <div class="col-lg-2 col md-1 mb40 sticky-sidebar d-none d-sm-block"
             style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
            <!--/col-->
            <div class="theiaStickySidebar"
                 style="padding-top: 100px; padding-bottom: 1px; position: static; transform: none; left: 0px; top: 0px;">

                {% if past %}
                <div class="pt50 title">Past Events</div>
                {% else %}
                <div class="pt50 title">Upcoming Events</div>
                {% endif %}

                <div class="mb40">
                  {% for event in eventsDisplayed %}
                      <a href="#{{event.s.title}}" class="nav-link">{{event.s.title | safe}}</a>
                  {% endfor %}
                </div>

                {% if past %}
                <div class="pt10 title"><a href="/events">Upcoming Events</a></div>
                {% else %}
                <div class="pt10 title"><a href="/events?past=true">Past events</a></div>
                {% endif %}

                <div class="mb40">
                  {% for event in eventsNotDisplayed %}
                      {% if past %}
                      <a href="/events#{{event.s.title}}" class="nav-link">{{event.s.title | safe}}</a>
                      {% else %}
                      <a href="/events?past=true#{{event.s.title}}" class="nav-link">{{event.s.title | safe}}</a>
                      {% endif %}
                  {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div id='eventList' class="page-timeline">
              {% for event in eventsDisplayed %}
                <div class="vtimeline-point">
                  <div id='{{event.s.title}}' style="position:absolute; top:-90px;"></div>
                    <div class="vtimeline-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="vtimeline-block">
                        <!-- <div class="vtimeline-date">{{(event.s.start_date|str2datetime).strftime('%-d %B %Y')}}</div> -->
                        <div class="vtimeline-content">
                            {% if event.s.featured_image %}
                            <img src='{{event.featured_image.s.source_url}}' alt='' class='img-fluid mb20'>
                            {% endif %}
                            <h2>{{event.s.title | safe}}</h2>
                            <h3>{{(event.s.start_date|str2datetime).strftime('%-d %B %Y')}}
                                {% if (event.s.end_date != "0000-00-00") %}
                                - {{(event.s.end_date|str2datetime).strftime('%-d %B %Y')}}
                                {% endif %}</h3>
                            <ul class="post-meta list-inline">
                                <li class="list-inline-item">
                                    <i class="fa fa-bank"></i> <a href="#">{{event.s.organizer | safe}}</a>
                                </li>
                            </ul>
                            <p>
                                {{event.s.content | safe }}
                            </p><br>
                            <a href='{{event.s.event_url}}' class='btn btn-outline-secondary btn-sm'>Event Site</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
