{% extends "base.html" %}
{% block page_title %}Sorghum Portal{% endblock %}
{% block additional_header %}{% endblock %}
{% block content %}

<div class="page-titles-img title-space-lg parallax-overlay bg-parallax" data-jarallax='{"speed": 0.4}' style='background-image: url("{{banner_media.s.source_url}}");background-position:top center;'>
  <div class="container">
    <div class="row">
      <div class=" col-md-12">
        <h1 class="text-uppercase">Frequently Asked Questions</h1>

      </div>
    </div>
  </div>
</div><!--page title end-->
<div class="container pt90 ">
  <!-- <div class="title-heading1 mb60">
    <h3>Frequently Asked Questions</h3>
  </div> -->
<div class="container mb40">
   <div class="row">
        <div class="col-md-9 mb40">
          {% if len(questionSet) != 0 %}
        <div id="accordion" class="mb70" role="tablist" aria-multiselectable="true">
          <div class="card mb10">
              <div class="card-header accordion-header" role="tab" id="heading{{questionSet[0].s.id}}">
                  <h5 class="mb-0">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{questionSet[0].s.id}}" aria-expanded="true" aria-controls="collapse{{questionSet[0].s.id}}">
                          {{questionSet[0].s.title | safe }}
                      </a>
                  </h5>
              </div>
              <div id="collapse{{questionSet[0].s.id}}" class="collapse show" role="tabpanel" aria-labelledby="heading{{questionSet[0].s.id}}">
                  <div class="card-body">
                      {{ questionSet[0].s.content | safe }}
                  </div>
              </div>
          </div>
          {% for question in questionSet[1:] %}
          <div class="card mb10">
              <div class="card-header accordion-header" role="tab" id="heading{{question.s.id}}">
                  <h5 class="mb-0">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{question.s.id}}" aria-expanded="false" aria-controls="collapse{{question.s.id}}">
                          {{question.s.title | safe }}
                      </a>
                  </h5>
              </div>
              <div id="collapse{{question.s.id}}" class="collapse" role="tabpanel" aria-labelledby="heading{{question.s.id}}">
                  <div class="card-body">
                      {{ question.s.content | safe }}
                  </div>
              </div>
          </div>
          {% endfor %}
     </div>
     {% endif %}
    </div>
   </div>
</div>

</div>
{% endblock %}
