        <footer class="footer footer-standard pt50 pb20">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 col-md-6 mb40">
                        <h3>About Us</h3>
                        <p>
                            [This is copy that needs to be written about who we are, see <a href="https://github.com/warelab/sorghumbase-pm/issues/11" target="_blank">issue</a>].
                        </p>
                    </div>
                    <div class="col-lg-2 col-md-6 mb40">
                        <h3>Quick links</h3>
                        <ul class="list-unstyled footer-list-item">
                            <li>
                                <a href="/faq">
                                    FAQs
                                </a>
                            </li>
                            <li>
                                <a href="/research">
                                    Research
                                </a>
                            </li>
                            <li>
                                <a href="/people">
                                    People
                                </a>
                            </li>
                            <li>
                                <a href="/contact">
                                    Contact Us
                                </a>
                            </li>
                            <!-- <li>
                                <a href="#">
                                    Sitemap
                                </a>
                            </li> -->
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 mb40">
                        <h3>Latest News</h3>
                        <ul class="list-unstyled latest-news">
	                        {% for post in footer_latest_news %}
                            <li class="media">
                                <a href="#"> <img class="d-flex mr-3 img-fluid" width="64" src="{{post.featured_media.s.source_url}}" alt="{{ post.title }}"></a>
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1"><a href="#">{{ post.s.title | safe }}</a></h5>
                                    {{(post.s.date|str2datetime).strftime('%-d %B %Y')}}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 mb40">
                        <h3>Twitter</h3>
                          <a class="twitter-timeline" href="https://twitter.com/hashtag/sorghum" data-widget-id="999762329989500928">#sorghum Tweets</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                {% if footer_photos_to_credit and footer_photos_to_credit | length %}
                <div class="row">
	                <div class="col-lg-8">
		                <h3>Photo Credits</h3>
		                <ul>
		                {% for media in photos_to_credit %}
			                <li><p class="text-muted">{{ media.s.caption | safe}}</p></li>
			            {% endfor %}
		                </ul>
	                </div>
                </div><!-- end row -->
                {% endif %}

            </div> <!-- end container -->
        </footer><!--/footer-->

        <div class="footer-bottomAlt">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="clearfix">
                            <a href="https://www.facebook.com/sorghumbase/" class="social-icon-sm si-dark si-facebook si-dark-round">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="https://twitter.com/sorghumbase" class="social-icon-sm si-dark si-twitter si-dark-round">
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-twitter"></i>
                            </a>
                            <!--a href="#" class="social-icon-sm si-dark si-g-plus si-dark-round">
                                <i class="fa fa-google-plus"></i>
                                <i class="fa fa-google-plus"></i>
                            </a-->
                            <!--a href="#" class="social-icon-sm si-dark si-skype si-dark-round">
                                <i class="fa fa-skype"></i>
                                <i class="fa fa-skype"></i>
                            </a-->
                            <!--a href="#" class="social-icon-sm si-dark si-linkedin si-dark-round">
                                <i class="fa fa-linkedin"></i>
                                <i class="fa fa-linkedin"></i>
                            </a-->
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <span>&copy; Copyright 2018. All Right Reserved</span>
                    </div>
                </div>
            </div>
        </div><!--/footer bottom-->
        <!--back to top-->
        <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
