        <footer class="footer pt90 pb60 bg-faded">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 ml-auto mr-auto mb30">
                       <img src="images/logo.png" alt="" class="img-fluid mb20">
                        <p class=" mb30">
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.
                        </p>
                        <div class="cleafix">
                            <a href="#" class="social-icon si-dark si-colored-facebook">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="social-icon  si-dark si-colored-twitter">
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-dark si-colored-google-plus">
                                <i class="fa fa-google-plus"></i>
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="social-icon si-dark si-colored-skype">
                                <i class="fa fa-skype"></i>
                                <i class="fa fa-skype"></i>
                            </a>
                            <a href="#" class="social-icon si-dark si-colored-linkedin">
                                <i class="fa fa-linkedin"></i>
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                     <div class="col-lg-4 mr-auto ml-auto mb30">
                        <h4>Useful links</h4>
                        <ul class="list-unstyled mb30">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact Author</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Updates</a></li>
                            <li><a href="#">Discounts</a></li>
                        </ul>
                        <span>&copy; Copyright 2017. All Right Reserved.</span>
                    </div>
                    
                </div>
            </div>
        </footer>
