{% extends "base.html" %}
{% block page_title %}Sorghum Portal{% endblock %}
{% block additional_header %}{% endblock %}
{% block content %}

<!-- place page content here -->

{# Page is constructed in sections (rows). #}


{# Section: Image slider #}

<div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.4.1 auto mode -->
    <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
        <ul>
            <!-- SLIDE  -->
            <li data-index="rs-3045" data-transition="parallaxtoleft" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="static/images/sorghum_1920x1000.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption mainSlide-Subtitle   tp-resizeme"
                     id="slide-1706-layer-1"
                     data-x="['left','left','left','left']" data-hoffset="['30','15','15','15']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-102','-102','-92','-68']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-fontsize="['20','20','20','20']"
                     data-lineheight="['25','25','25','25']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":800,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 7; white-space: nowrap;text-transform:left;">sorghum as far as the eye can see</div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption mainSlide-Title-Centered   tp-resizeme"
                     id="slide-1706-layer-2"
                     data-x="['left','left','left','left']" data-hoffset="['30','15','15','15']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','1']"
                     data-fontsize="['55','55','40','30']"
                     data-lineheight="['65','65','55','35']"
                     data-width="['800','700','621','420']"
                     data-height="none"
                     data-whitespace="normal"

                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1400,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 6; text-align:left; max-width:1170px; white-space: normal;">The Sorghum Portal to End All Sorghum Portals</div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption mainSlide-Button btn btn-lg btn-white-outline "
                     id="slide-1706-layer-3"
                     data-x="['left','left','left','left']" data-hoffset="['30','15','15','15']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['112','112','112','96']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"

                     data-type="button"
                     data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
                     data-responsive_offset="on"
                     data-responsive="off"
                     data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[12,12,12,12]"
                     data-paddingright="[35,35,35,35]"
                     data-paddingbottom="[12,12,12,12]"
                     data-paddingleft="[35,35,35,35]"

                     style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">READ MORE </div>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-3046" data-transition="parallaxtoleft" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="static/images/sorghum_field_1920x1000.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption mainSlide-Title-Centered   tp-resizeme"
                     id="slide-1706-layer-4"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','1']"
                     data-fontsize="['55','55','40','30']"
                     data-lineheight="['65','65','50','35']"
                     data-width="['900','800','621','420']"
                     data-height="none"
                     data-whitespace="normal"

                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 6; text-align:center; white-space: normal;">More Sorghum Accolades</div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption mainSlide-caption   tp-resizeme"
                     id="slide-1706-layer-5"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','50']"
                     data-fontsize="['24','24','24','16']"
                     data-lineheight="['34','34','34','26']"
                     data-width="['800','700','621','420']"
                     data-height="none"
                     data-whitespace="normal"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1400,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 6; text-align:left; max-width:1170px; white-space: normal;">Did we hear you say “sorghum”? You know we did!</div>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-3047" data-transition="parallaxtoright" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"  data-saveperformance="off"  data-title="HTML5 Video" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="static/images/sorghum_brownies_1920x1000.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- BACKGROUND VIDEO LAYER -->
                <div class="rs-background-video-layer"
                     data-forcerewind="on"
                     data-volume="mute"
                     data-videowidth="100%"
                     data-videoheight="100%"
                     data-videomp4="images/video/Busy-People.mp4"
                     data-videopreload="auto"
                     data-videoloop="none"
                     data-forceCover="1"
                     data-aspectratio="16:9"
                     data-autoplay="true"
                     data-autoplayonlyfirsttime="false"
                     data-nextslideatend="true"
                     ></div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption mainSlide-Title-Centered   tp-resizeme"
                     id="slide-1706-layer-8"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','1']"
                     data-fontsize="['55','55','40','30']"
                     data-lineheight="['65','65','50','35']"
                     data-width="['900','800','621','420']"
                     data-height="none"
                     data-whitespace="normal"

                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 6; text-align:center; white-space: normal;">Sorghum Brownies</div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption mainSlide-caption   tp-resizeme"
                     id="slide-1706-layer-9"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','50']"
                     data-fontsize="['24','24','24','16']"
                     data-lineheight="['34','34','34','26']"
                     data-width="['800','700','621','420']"
                     data-height="none"
                     data-whitespace="normal"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1400,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 6; text-align:left; max-width:1170px; white-space: normal;">Nothing says love like a plate of sorghum brownies.<em>LITERALLY NOTHING.</em></div>
            </li>
            #}
        </ul>
        <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>	</div>
</div><!-- END REVOLUTION SLIDER -->

{# Bullet points section #}

<div class="pt90 pb50 container">
    <div class="title-heading1 mb40">
        <h3>For All Your Sorghum Needs</h3>
    </div>
    <div class="row">
        <div class="col-lg-4 mb40">
          <a href="/posts?categories=news">
            <div class="media icon-simple">
                <div class="d-flex mr-3">
                    <i class="icon-newspaper fa-3x text-primary"></i>
                </div>
                <div class="media-body">
                    <h4 class="mt-0 mb10">News</h4>
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
            </a>
        </div><!--/col-->
        <div class="col-lg-4 mb40">
          <a href="/posts?categories=blog">
            <div class="media icon-simple">
                <div class="d-flex mr-3">
                    <i class="icon-megaphone fa-3x text-primary"></i>
                </div>
                <div class="media-body">
                    <h4 class="mt-0 mb10">Blog</h4>
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
            </a>
        </div><!--/col-->
        <div class="col-lg-4 mb40">
          <a href="/about">
            <div class="media icon-simple">
                <div class="d-flex mr-3">
                    <i class="icon-chat fa-3x text-primary"></i>
                </div>
                <div class="media-body">
                    <h4 class="mt-0 mb10">About Us </h4>
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
            </a>
        </div><!--/col-->
    </div>
    <div class="row">
        <div class="col-lg-4 mb40">
          <a href="/posts?categories=projects">
            <div class="media icon-simple">
                <div class="d-flex mr-3">
                    <i class="icon-beaker fa-3x text-primary"></i>
                </div>
                <div class="media-body">
                    <h4 class="mt-0 mb10">Projects</h4>
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
          </a>
        </div><!--/col-->
        <div class="col-lg-4 mb40">
          <a href="/posts?categories=tutorials">
            <div class="media icon-simple">
                <div class="d-flex mr-3">
                    <i class="icon-tools fa-3x text-primary"></i>
                </div>
                <div class="media-body">
                    <h4 class="mt-0 mb10">Tutorials</h4>
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
          </a>
        </div><!--/col-->
        <div class="col-lg-4 mb40">
          <a href="/posts?categories=tools">
            <div class="media icon-simple">
                <div class="d-flex mr-3">
                    <i class="icon-toolbox fa-3x text-primary"></i>
                </div>
                <div class="media-body">
                    <h4 class="mt-0 mb10">Tools</h4>
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
          </a>
        </div><!--/col-->
    </div>
</div><!--Features-->

{# Parallax section #}

<div class="bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("static/images/popcorn_1920x1000.jpg")'>
    <div class="container pt60 pb60">
        <div class="row">
            <div class="col-lg-8">
                <h3 class="text-white">
                    Corn? Please.
                </h3>
            </div>
            <div class="col-lg-4 pt0">
                <!--a href="#" class="btn btn-lg btn-white-outline">
                    View All Work
                </a-->
            </div>
        </div>
    </div>
</div><!--cta-->


{# Latest news section #}

<div class=" pt90 pb60">
    <div class="container">
        <div class="title-heading1 mb40">
            <h3>Latest News</h3>
        </div>
        <div class="row">
        {% for post in posts[0:3] %}
            <div class="col-lg-4 mb30 wow fadeInUp" data-wow-delay=".2s">
                <div class="entry-card">
                    <a href="/post/{{post.s.slug}}" class="entry-thumb">
                        <img src="{{post.featured_media.s.source_url}}" alt="" class="img-fluid">
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5">
                            <span>
                                {{(post.s.date|str2datetime).strftime('%-d %B %Y')}}
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize">
                            <a href="/post/{{post.s.slug}}">
                                {{post.s.title | safe}}
                            </a>
                        </h4>
                        <p>
                            {{post.s.excerpt | safe}}
                        </p>
                        <div class="text-right">
                            <a href="/post/{{post.s.slug}}" class="btn-link btn">Read More</a>
                        </div>
                    </div><!--/entry content-->
                </div>
            </div><!--/.col-->
        {% endfor %}
        </div>
    </div>
</div><!--news-->

<div class="bg-faded pt90 pb90">
    <div class="container">
        <div class="title-heading1 mb50">
            <h3>Subscribe to our mailing list</h3>
        </div>
        <div class="row">
            <div class="col-lg-6 mr-auto ml-auto">
                <form id="widget-subscribe-form" action="index.html" role="form" method="post" class="mb0">
                    <div class="input-group input-group-lg">

                        <input type="email" name="widget-subscribe-form-email" class="form-control required" placeholder="Enter your Email">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{# section #}
<div class="container pt90">
  <div class="title-heading1 mb40">
      <h3>Tools</h3>
  </div>
    <div class="row justify-content-md-center pb60">
        <div class="col-lg-4 mb30 wow zoomInUp" data-wow-delay="100ms" data-wow-duration=".4s">
          <a href="#">
            <div class="icon-box icon-box-center">
                <i class="icon-hover-1 bg-primary icon-layers icon-hover-default"></i>
                <h4>Gene Trees</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
            </a>
        </div><!--/col-->
        <div class="col-lg-4 mb30 wow zoomInDown" data-wow-delay="200ms" data-wow-duration=".6s">
          <a href="http://www.cyverse.org/">
            <div class="icon-box icon-box-center">
                <i class="icon-hover-1 bg-primary icon-telescope icon-hover-default"></i>
                <h4>CyVerse</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
            </a>
        </div><!--/col-->
    </div>

</div><!--/intro-->

{# section #}

<div class="bg-faded">
    <div class="container pt90">
        <div class="title-heading1 mb40">
            <h3>People</h3>
        </div>
        <div class="row">
        {% for user in team %}
            <div class="col-lg-4 mb30 wow fadeInUp" data-wow-delay=".2s">
              <div class="team-card-default">
                  <img src="{{ user.s.avatar_urls['96'].replace("96", "128") }}" alt="" class="img-fluid rounded-circle centered">
                  <div class="team-default-content text-center pt30">
                          <h4 class="mb0 text-uppercase">{{ user.s.name }}</h4>
                          <span>{{user.s.roles}}</span>
                  </div>
              </div>
            </div><!--/.col-->
        {% endfor %}
        </div>
    </div>
</div>

<!-- <div class=" pt90 pb60">
    <div class="container">
        <div class="title-heading1 mb40">
            <h3>Latest News</h3>
        </div>

    </div>
</div><!--news--> -->

{% endblock %}

{% block script_below_content %}
            /**Hero  script**/
            var tpj = jQuery;

			/* This is the script needed to handle the image slider at the top of the page. */

            var revapi1078;
            tpj(document).ready(function () {
                if (tpj("#rev_slider_1078_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_1078_1");
                } else {
                    revapi1078 = tpj("#rev_slider_1078_1").show().revolution({
                        sliderType: "standard",
                        jsFileLocation: "revolution/js/",
                        sliderLayout: "auto",
                        dottedOverlay: "none",
                        delay: 8000, // number of seconds between each Revolution slider image transition
                        navigation: {
                            arrows: {
                                enable: true,
                                style: 'uranus',
                                tmp: '',
                                rtl: false,
                                hide_onleave: false,
                                hide_onmobile: true,
                                hide_under: 600,
                                hide_over: 9999,
                                hide_delay: 200,
                                hide_delay_mobile: 1200,
                                left: {
                                    container: 'slider',
                                    h_align: 'left',
                                    v_align: 'center',
                                    h_offset: 0,
                                    v_offset: 0
                                },
                                right: {
                                    container: 'slider',
                                    h_align: 'right',
                                    v_align: 'center',
                                    h_offset: 0,
                                    v_offset: 0
                                }
                            }
                        },
                        viewPort: {
                            enable: true,
                            outof: "pause",
                            visible_area: "80%",
                            presize: false
                        },
                        responsiveLevels: [1240, 1024, 778, 480],
                        visibilityLevels: [1240, 1024, 778, 480],
                        gridwidth: [1140, 992, 700, 465],
                        gridheight: [600, 600, 500, 480],
                        lazyType: "none",
                        parallax: {
                            type: "mouse",
                            origo: "slidercenter",
                            speed: 2000,
                            levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55]
                        },
                        shadow: 0,
                        spinner: "off",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false
                        }
                    });
                }
            });	/*ready*/

			/* This script handles the image grid (uses the Cueb Portfolio plug-in. */

            //cube portfolio init
            (function ($, window, document, undefined) {
                'use strict';

                // init cubeportfolio
                $('#js-grid-mosaic-flat').cubeportfolio({
                    filters: '#js-filters-mosaic-flat',
                    layoutMode: 'mosaic',
                    sortToPreventGaps: true,
                    mediaQueries: [{
                            width: 1500,
                            cols: 6
                        }, {
                            width: 1100,
                            cols: 4
                        }, {
                            width: 800,
                            cols: 3
                        }, {
                            width: 480,
                            cols: 2,
                            options: {
                                caption: '',
                                gapHorizontal: 15,
                                gapVertical: 15
                            }
                        }],
                    defaultFilter: '*',
                    animationType: 'fadeOutTop',
                    gapHorizontal: 0,
                    gapVertical: 0,
                    gridAdjustment: 'responsive',
                    caption: 'fadeIn',
                    displayType: 'fadeIn',
                    displayTypeSpeed: 100,
                    // lightbox
                    lightboxDelegate: '.cbp-lightbox',
                    lightboxGallery: true,
                    lightboxTitleSrc: 'data-title',
                    lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} of {{total}}</div>',
                    plugins: {
                        loadMore: {
                            selector: '#js-loadMore-mosaic-flat',
                            action: 'click',
                            loadItems: 3
                        }
                    }
                });
            })(jQuery, window, document);
 {% endblock %}
