{% extends "base.html" %}
{% block page_title %}Sorghum Portal{% endblock %}
{% block additional_header %}{% endblock %}
{% block content %}

<div class="page-titles-img title-space-lg parallax-overlay bg-parallax" data-jarallax='{"speed": 0.4}' style='background-image: url("static/images/sorghum_combine.jpg");background-position:top center;'>
  <div class="container">
    <div class="row">
      <div class=" col-md-12">
        <h1 class="text-uppercase">Mailing List</h1>

      </div>
    </div>
  </div>
</div><!--page title end-->

<div class="container pt90">
  <div class="title-heading1 mb60">
    <h3 class="mb30">Join our mailinglist</h3>
  </div>
  <div class="col-lg-6 col-md-12">
    <div>
      <p>
        [By far and away a mailinglist for the Sorgum community.]
      </p>
    </div>
    <form>
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Enter Email..." aria-describedby="basic-addon2">
        <button class="input-group-addon btn-primary" id="basic-addon2">Sign me up</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
