{% extends "base.html" %}
{% block title %}Sorghumbase Mission Statement{% endblock %}
{% block body_property %}class="sticky-footer-page"{% endblock %}
{% block content %}

<div class="page-titles-img title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("{{banner_media.s.source_url}}")'>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 ml-auto mr-auto">
                <h1 class='text-uppercase'>Mission Statement</h1>

             </div>
        </div>
    </div>
</div><!--page title end-->

<div class='container-fluid'>
    <div class='row'>
        <div class='col-lg-8  mr-auto ml-auto my-5'>
            <!--div class="title-heading1 mb30">
                <h3>header here</h3>
            </div-->
             <h5 class='lead text-center mb30'>
	             	{{ mission_statement_post.s.content | safe }}
              </h5>
              <div class="text-center">
                <img class="logo mr-5" src="/static/images/CSHL_logo_alternate_RGB_207x100.png" alt="Cold Spring Harbor Laboratory" height="100">
                <img class="logo" src="/static/images/USDA_logo_146x100.png" alt="USDA" height="100">
              </div>

        </div>
    </div>
</div>


{% endblock %}
