{% extends "base.html" %}
{% block title %}Sorghumbase Mission Statement{% endblock %}
{% block body_property %}class="sticky-footer-page"{% endblock %}
{% block content %}

<div class="page-titles-img title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("{{request.script_root}}/static/assan/classic-template/images/bg8.jpg")'>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 ml-auto mr-auto">
                <h1 class='text-uppercase'>Mission Statement</h1>

             </div>
        </div>
    </div>
</div><!--page title end-->
        
<div class='container-fluid no-padding mb40'>
    <div class='row no-margin'>
        <div class='col-lg-8  mr-auto ml-auto'>
            <!--div class="title-heading1 mb30">
                <h3>header here</h3>                       
            </div-->
             <p class='lead mb50 text-center'>
	             	<br/>
                    We must all efficiently operationalize our strategies, invest in world-class technology, and leverage our core competencies in order to holistically administrate exceptional synergy. We'll set a brand trajectory using management's philosophy, advance our market share vis-à-vis our proven methodology with strong commitment to quality effectively enhancing corporate synergy transitioning our company by awareness of functionality promoting viability and providing our supply chain with diversity. We will distill our identity through client-centric solutions and synergy (oooooh oooh oooh).
                </p>
        </div>
    </div>
</div>
        
        
{% endblock %}