        <nav class="navbar navbar-expand-lg navbar-light bg-faded navbar-sticky navbar-transparent">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarlanding" aria-controls="navbarlanding" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="static/images/logo.png" alt="">
                </a>

                <div class="collapse navbar-collapse" id="navbarlanding">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" data-scroll href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-scroll href="#features">Features</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" data-scroll href="#testimonials">Testimonials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-scroll href="#pricing">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-scroll href="#subscribe">Subscribe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary btn-rounded" href="#" data-toggle="modal" data-target="#ticketsModal">Register Now</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav><!--navbar-->
