{% extends "base.html" %}
{% block page_title %}Sorghum Portal{% endblock %}
{% block additional_header %}{% endblock %}
{% block content %}

<!-- place page content here -->

<div class="page-titles-img title-space-md parallax-overlay bg-parallax" data-jarallax='{"speed": 0.4}' style='background-image: url("static/images/sorghum_combine.jpg");background-position:top center;'>
  <div class="container">
    <div class="row">
      <div class=" col-md-12">
        <h1 class="text-uppercase">News</h1>
        <br>
        <h3 class="text-white">Research, Events & Jobs</h3>

      </div>
    </div>
  </div>
</div><!--page title end-->

<div class="pt90 pb50 container">
  <div class="row">
    <div class="mb50">
      <a href="/research">
        <h3>Research</h3>
      </a>
    </div>
    {% for paper in papers[0:2] %}
    <div class="row">
      <div class="col-lg-9 col-md-6 mb90">
        <h4 class="mb0 text-uppercase">{{ paper.s.paper_title }}</h4>
        <br>
        <h6>First published on {{(paper.s.publication_date|str2datetime).strftime('%-d %B %Y')}}</h6>
        <p><em>{{ paper.s.paper_authors | safe }}</em></p>
        <p>{{ paper.s.abstract | safe }}</p>
        <a href="{{paper.s.source_url}}"><h6 class="masonry-title mb0">View full paper at source</h6></a>
        <span class="border-bottom-1"></span>
      </div>
    </div>
    {% endfor %}
    <a href="/research" class="btn float-left btn-outline-primary btn-sm">More Research</a>
  </div>
</div>

<div class="bg-faded pt90 pb50">
  <div class="container">
    <div class="row">
      <div class="mb50">
        <a href="/events">
          <h2>Events</h2>
        </a>
      </div>
      <div class="row justify-content-md-center">
        <div class="page-timeline">
          {% for event in events[0:2] %}
          <div class="vtimeline-point">
            <div class="vtimeline-icon">
              <i class="fa fa-calendar"></i>
            </div>
            <div class="vtimeline-block">
              <!-- <div class="vtimeline-date">#{{(event.s.start_date|str2datetime).strftime('%-d %B %Y')}}</div> -->
              <div class="vtimeline-content">
                {% if event.s.featured_image %}
                <a href='#'><img src='{{event.featured_image.s.source_url}}' alt='' class='img-fluid mb20'></a>
                {% endif %}
                <h3>{{event.s.title.rendered}}</h3>
                <ul class="post-meta list-inline">
                  <li class="list-inline-item">
                    <i class="fa fa-user-circle-o"></i> <a href="#">{{event.s.organizer}}</a>
                  </li>
                  <li class="list-inline-item">
                    <i class="fa fa-calendar-o"></i> <a href="#">
                      {{(event.s.start_date|str2datetime).strftime('%-d %B %Y')}}
                      {% if event.s.end_date %}
                      - {{(event.s.end_date|str2datetime).strftime('%-d %B %Y')}}
                      {% endif %}
                    </a>
                  </li>
                </ul>
                <p>
                  {{event.s.event_description | safe }}
                </p>
                <br>
                <a href='{{event.s.event_url}}' class='btn btn-outline-secondary btn-sm'>Event Site</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <a href="/events" class="btn float-left btn-outline-primary btn-sm">More Events</a>
    </div>
  </div>
</div>


<div class="pt90 pb50 container">
  <div class="row">
    <div class="mb50">
      <a href="/jobs">
        <h3>Jobs</h3>
      </a>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-6 mb90">
        {% for job in jobs[0:2] %}
        <div class="career-card clearfix">
          <div class="clearfix pb20">
            <h2 class="mb0">{{job.s.job_title}}</h2>
            <span class="label label-default">{{job.s.company}}</span>
          </div>
          <br>
          <p>
            {{job.s.job_description | safe }}
          </p>
          <br>
          <a href="{{job.s.job_url}}" class="btn float-right btn-sm btn-primary">Learn More</a>
        </div>
        {% endfor %}
        <a href="/jobs" class="btn float-left btn-outline-primary btn-sm">More Jobs</a>
      </div>
    </div>
  </div>

</div>

{% endblock %}
