{% extends "base.html" %}
{% block page_title %}Sorghum Portal{% endblock %}
{% block additional_header %}{% endblock %}
{% block content %}

<div class="page-titles-img title-space-lg parallax-overlay bg-parallax" data-jarallax='{"speed": 0.4}' style='background-image: url("static/images/sorghum_combine.jpg");background-position:top center;'>
  <div class="container">
    <div class="row">
      <div class=" col-md-12">
        <h1 class="text-uppercase">People</h1>

      </div>
    </div>
  </div>
</div><!--page title end-->
<div class="container pt90 ">
  <div class="title-heading1 mb60">
    <h3 class="mb30">Sorghumbase Team</h3>
  </div>
  {% for user in team %}
  <div class="row pb60">
    <div class="col-lg-3 col-md-6  mb30">
        <div class="team-card-default">
            <!-- #<img src="{{ user.s.author_gravatar_url }}" alt="" class="img-fluid rounded-circle"> -->
            <img src="{{ user.s.avatar_urls['96'].replace("96", "256") }}" alt="" class="img-fluid rounded-circle centered">
            <div class="team-default-content text-center pt30">
                    <h4 class="mb0 text-uppercase">{{ user.s.name }}</h4>
                    <span>{{user.s.roles}}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-6 mb90">
      <p>{{ user.s.description | safe }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
