{% extends "base.html" %}
{% block title %}Release Notes{% endblock %}
{% block body_property %}class="sticky-footer-page"{% endblock %}
{% block content %}

<div class="page-titles-img title-space-md bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}'
            style='background-image: url("{{banner_media.s.source_url}}")'>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 ml-auto mr-auto">
                <h1 class='text-uppercase'>Release Notes</h1>

             </div>
        </div>
    </div>
</div><!--page title end-->

            <div id="sorghumbase-relnotes">release notes go here</div>


{% endblock %}
