{% extends "base.html" %}
{% block title %}Page Title{% endblock %}
{% block content %}

<div class="page-titles-img title-space-md bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("{{banner_media.s.source_url}}")'>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 ml-auto mr-auto">
                <h1 class='text-uppercase'>Resources</h1>

             </div>
        </div>
    </div>
</div><!--page title end-->

<div class="container pt70 pb30">
    <div class="row">
        {% for resource in resources_list %}
        <div class="col-lg-4 mb40">
            <div class="image-text-card1">
                <a href="{{resource.s.resource_url}}" class="card-link"></a>
                {% if resource.resource_image %}
                <img src="{{resource.resource_image.s.source_url}}" alt="" class="img-fluid mb20 centered">
                {% else %}
                <img src="{{default_image.s.source_url}}" alt="" class="img-fluid mb20">
                {% endif %}
                <h4>{{resource.s.title.rendered | safe}}</h4>
                {{resource.s.content.rendered | safe}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
