{% extends "base.html" %}
{% block title %}Page Title{% endblock %}
{% block content %}

<div class="page-titles-img title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("{{banner_media.s.source_url}}")'>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 ml-auto mr-auto">
                <h1 class='text-uppercase'>Resources</h1>

             </div>
        </div>
    </div>
</div>

<div class="container pt90 mb30">
    <div class="row" id="blog-masonry" style="position: relative; height: 1179.5px;">
        {% for resource in resources_list %}
        <div class="">
        <article class="col-md-4 post-masonry  card" style="position: absolute; left: 0px; top: 0px;">
          <a href="{{resource.s.resource_url}}">
            {% if resource.resource_image %}
            <img src="{{resource.resource_image.s.source_url}}" alt="" class="img-fluid mt20 mb20 centered">
            {% else %}
            <img src="{{default_image.s.source_url}}" alt="" class="img-fluid mt20 mb20">
            {% endif %}
              <h4 class="masonry-title mb0">{{resource.s.title.rendered | safe}}</h4>
          </a>
              <p class="card-text">{{resource.s.content.rendered | safe}}</p>
        </article>
      </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
