{% extends "base.html" %}
{% block page_title %}Search{% endblock %}
{% block content %}

<div class="page-titles-img title-space-search bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}'
     style='background-image: url("{{ banner_media.s.source_url}}")'>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 ml-auto mr-auto">
                <h1>Search</h1>
            </div>
        </div>
    </div>
</div>

<div class="container mb70" id="wrapper" style="transform: none; max-width: none;">
    <div class="row" style="transform: none;">
        <div class="col-lg-3 mb40 sticky-sidebar"
             style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
            <!--/col-->
            <div class="theiaStickySidebar"
                 style="padding-top: 100px; padding-bottom: 1px; position: static; transform: none; left: 0px; top: 0px;">
                <div class="pt40" id="search-box"></div>
                <div class="mb40" id="search-summary">
                </div>
                <div class="resize-sensor"
                     style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
                    <div class="resize-sensor-expand"
                         style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                        <div style="position: absolute; left: 0px; top: 0px; transition: 0s; width: 295px; height: 826px;"></div>
                    </div>
                    <div class="resize-sensor-shrink"
                         style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                        <div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 sticky-content"
             style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
            <div class="theiaStickySidebar"
                 style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
                <div id="search-results"></div>
                <div class="resize-sensor"
                     style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
                    <div class="resize-sensor-expand"
                         style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                        <div style="position: absolute; left: 0px; top: 0px; transition: 0s; width: 865px; height: 866px;"></div>
                    </div>
                    <div class="resize-sensor-shrink"
                         style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                        <div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{request.script_root}}/static/js/search.js"></script>
{% endblock %}
