{% extends "admin/base.html" %}

{% block title %}{% set page_title="Custom Page Title" %}{% endblock %}

{% block content %}

<div class="page-title pt30 pb30">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item ">Layout</li>
                <li class="breadcrumb-item active">Dark Sidebar</li>
            </ol>
            <h4 class="mb10">Dark Sidebar</h4>
            <p class="mb10">A simple and creative modern Admin Dashboard</p>
        </div>                             
    </div>
</div><!--page title-->

{% endblock %}